     :root {
            --primary-color: #006233; /* algerain flag green */
            --secondary-color: #FFFFFF; /* algerian flag white */
            --accent-color: #D21034; /* algerian flag red */
            --text-dark: #333;
            --text-light: #fff;
            --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: var(--text-dark);
    line-height: 1.6;
}
.container{
    background: url("https://happywall-img-gallery.imgix.net/61083/sahara_sunset_display.jpg") no-repeat center center/cover;
}
header{
  color: #f1d846;
    padding: 1rem;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: var(--shadow);
    backdrop-filter: blur(50px);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    gap: 2px;
}
.A{
    background-color: #f1d846; 
    color: #0c0c0c;
    border-radius: 10px;
    width: 40px;
    height: 45px;
    text-align: center
}
.A p{
 margin-top: -4px;
}
.nav_links {
    display: flex;
    list-style: none;
}
.nav_links li{
    margin-left: 2rem;
}
.nav_links a{
    color: rgb(249, 249, 242);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.nav_links a:hover{
    color: #f1d846;
}
.container1{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-light);
    position: relative;
}


.h1{
    font-size: 1.8rem;
    margin-top: 4rem;
  
}
.btn{
    height: 30px;
    width: 125px;
    border-radius: 7px;
    background-color: #f1d846;
    color: #000000;
    font-weight: bold;
    margin-top: 20px
}
.session_title{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.2rem;
    color: #f1d846;
}
.destination{
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 2rem ;
}
.destination_items{
  background: rgb(21, 20, 20) ;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:var(--shadow) ;
  transition: transform 0.3s ease;
}
.destination_items:hover{
    transform: translateY(-10px);
    transform: scale(1.05);
}
.items_img{
    height: 200px;
    overflow:hidden ;
}
.items_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.items_img img{
    transform: scale(1.05);
}
.items_content{
    padding: 1.5rem;
}
.items_content h3{
    margin-bottom: 0.5rem;
    color:rgb(196, 189, 189);
}
.items_content p{
    margin-bottom: 1rem;
    color:  #f1d846;
    font-weight: bold;
    font-size: 1rem;
}

.items_content a{
  color:rgb(196, 189, 189);
    text-decoration: none;
    font-weight: bold;
    font-size:1.2rem ;
}
footer{
    background: rgb(216, 209, 209);
    color: black;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}